


@media only screen and (max-width: 700px) and (min-width: 1px){
.header .nav .nav_ham{
    display: block ;
}
.header .nav .nav_link{
    /* background-color: red; */
    background-color: white;
    width: 90%;
    display: none;
    position: absolute;
    margin-top: 50px;
    padding: 10px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translateX(-50%);
}
.header .nav .nav_link ul{
    display: block;
    width: 100%;
    /* background-color: blue; */
    text-align: center;
}
.header .nav .nav_link ul li{
    padding: 30px 0;
}
.header .nav .nav_link ul li a{
    color: #525252;
    font-size: 1.5rem;

}
.header .nav .nav_link ul li .nav_contact{
    background-color: yellow;
    color: black;
}

}











